﻿
@{
    ViewBag.Title = "Contact Confirmation";
}

@*<h2>Contact Confirmation</h2>*@

<section class="py-5">
    <div class="container">
        <h1>Contact Confirmation</h1>

        @*<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">*@
        <div id="contact-page" class="container">
            <div class="bg">
                <div class="row">
                    @*<h2>Contact Confirmation</h2>*@

                    <div class="col-md-6">
                        @*<h2 class="title text-center">Contact Me</h2>*@
                        @*<div id="gmap" class="contact-map google-maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.023561985009!2d-94.61137504846033!3d38.96912997945933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e925e366ed0f%3A0x73aec4617abd2f03!2sCentriq+Training!5e0!3m2!1sen!2sus!4v1468708493385" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <p>
                            Thank you for contacting me, @Model.Name!  I will respond to  your e-mail as soon as possible.  I appreciate your patience.
                        </p>
                    </div>
                </div>
            </div>
        </div><!--/#contact-page-->
    </div>
</section>

        <script src="~/Content/Scripts/validation.js"></script>

