﻿@model FSDP_PrefFut.Models.ContactViewModel
<a href="~/Content/mail/contact_me.php"></a>

@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>*@

@section styles {
    <style>
        .control-label {
            font-weight: bold;
            color: black;
        }

        input.detailDisplay {
            background-color: white !important;
            box-shadow: none;
            border: 0;
            color: black;
        }

        .editForm input, .editForm select {
            color: black;
            background-color: rgba(255, 216, 0, .3);
        }


        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>}


@*<section class="py-5">
     <div class="container">
         <h1>Contact Me</h1>
         <div class="col-lg-12 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="container">
                 <div class="row">
                     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                         <p>@ViewBag.ErrorMessage</p>
                         <p>If you have any questions, complete the form below to send me a message and I will get back to you as soon as possible.</p>
                         <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                         <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                         <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->

                         @using (Html.BeginForm())
             {
                             @Html.AntiForgeryToken()
                             <div class="row control-group" style="width:60em">
                                 <div class="contact-form-group col-lg-12 floating-label-form-group controls">
                                     <div class="contact-form-group col-md-10 floating-label-form-group controls">
                                         @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                                         @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                     </div>
                                 </div>
                                 <div class="col-lg-12">
                                     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                         @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                                         @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                     </div>
                                 </div>
                                 <div class="col-lg-12">
                                     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                         @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Phone" })
                                         @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                     </div>
                                 </div>
                                 <div class="col-lg-12">
                                     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                         @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Your message here", id = "message", rows = "8", title = "Please include any relevant information" })
                                         @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                     </div>
                                 </div>

                                 <div class="col-sm-12">
                                     <div class="form-group col-md-10">
                                         <input type="submit" name="submit" class="btn btn-default" value="Send" />
                                     </div>
                                 </div>
                             </div>
                         }
                     </div>
                 </div>
             </div>
         </div>
     </div>
    </section>*@


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>@ViewBag.ErrorMessage</p>
            <h5>If you have any questions, complete the form below to send me a message and I will get back to you as soon as possible.</h5>
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h4 class="title text-center">Get In Touch</h4>
                        <div class="status alert alert-success" style="display: none"></div>

                        @using (Html.BeginForm())
            {
                            @Html.AntiForgeryToken()

                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Subject" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Your message here", id = "message", rows = "8", title = "Please include any relevant information" })
                            </div>
                                <div class="form-group col-md-10">
                                    <input type="submit" name="submit" class="btn btn-default" value="Send" />
                                </div>

                                }


                                @*<form id="main-contact-form" class="contact-form row" name="contact-form" method="get" onsubmit="validateForm(event)">
                                        <div class="form-group col-md-6">
                                            <input type="text" name="name" class="form-control" placeholder="Name">
                                            <span id="msgName" class="invalid" "></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" name="email" class="form-control" placeholder="Email">
                                            <span id="msgEmail" class="invalid"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input type="text" name="subject" class="form-control" placeholder="Subject">
                                            <span id="msgSubject" class="invalid"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                                            <span id="msgMessage" class="invalid"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                                        </div>
                                    </form>*@
                            </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h4 class="title text-center">Contact Info</h4>
                        <address>
                            <p>Preferred Futures, Inc.</p>
                            @*<p>8700 Stateline Ave</p>*@
                            <p>Warrensburg, MO 64093</p>
                            <p>Phone: 660.555.5555</p>
                            <p>Email: pfversion1@nomail.com</p>
                        </address>
                        @*<div class="social-networks">
                            <h2 class="title text-center">Social Networking</h2>
                            <ul>
                                <li><a href="https://www.facebook.com/CentriqTraining/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/CentriqTraining" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/carla-sapp-a60a70b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/user/CentriqTraining" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#https://plus.google.com/108553092060324883743" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            @*<div class="col-lg-6 col-lg-offset-2 col-md-10 col-md-offset-1">
                <address>
                    Preferred Futures, Inc.<br />
                    Warrensburg, MO 64093<br />
                    @*<abbr title="Phone">P:</abbr>
                    Phone:  660.441.2484
                </address>
            </div>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>*@
