﻿@model Data.Location

@{
    ViewBag.Title = "Delete";
}

<section class="py-5">
    <div class="container">
        <h1>Delete</h1>

        @*<h2>Delete</h2>*@

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Location</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LocationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LocationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.ReservationLimit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReservationLimit)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TeacherID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TeacherID)
                    </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.DocRequirements)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DocRequirements)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>
