﻿@model Data.Location

@{
}

@section styles {
    <style>
        .control-label {
            font-weight: bold;
            color: black;
        }

        input.detailDisplay {
            background-color: white !important;
            box-shadow: none;
            border: 0;
            color: black;
        }

        .editForm input, .editForm select {
            color: black;
            background-color: rgba(255, 216, 0, .3);
        }
    </style>}

<section class="py-5">
    <div class="container">
        <h1>@ViewBag.Title</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-horizontal">
                <h2><span class="editForm">Edit </span>@*@ViewBag.Title*@<span class="detailDisplay"> Details</span></h2>
                <hr />

                @Html.HiddenFor(model => model.LocationID)

                <div class="form-group">

                    @Html.LabelFor(model => model.LocationName, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roLocationName" value="@Model.LocationName" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roAddress" value="@Model.Address" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roCity" value="@Model.City" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roState" value="@Model.State" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roZipCode" value="@Model.ZipCode" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.ReservationLimit, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roReservationLimit" value="@Model.ReservationLimit" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.ReservationLimit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReservationLimit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

        @Html.LabelFor(model => model.TeacherID, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            <input type="text" name="roTeacherID" value="@Model.TeacherID" class="detailDisplay form-control" readonly />
            <div class="editForm">
                @Html.EditorFor(model => model.TeacherID, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.UserDetail.FirstName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TeacherID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.DocRequirements, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roDocRequirements" value="@Model.DocRequirements" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.DocRequirements, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DocRequirements, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <input type="text" name="roComments" value="@Model.Comments" class="detailDisplay form-control" readonly />
                        <div class="editForm">
                            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group editForm">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="submitBtn btn btn-info" />
                    </div>
                </div>
            </div>
        }

        <div>
            <a href="@Url.Action("Index")" class="btn btn-info">Back to List</a>
            <span id="showEdit" class="detailDisplay btn btn-warning">Edit Record</span>
            <span id="showDetails" class="editForm btn btn-success">View Details</span>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(".editForm").hide();
        $(".submitBtn").css('visibility', 'hidden');
        $("#showEdit").click(function () {
            $(".editForm").show();
            $(".detailDisplay").hide();
            $(".submitBtn").css('visibility', 'visible');
        });
        $("#showDetails").click(function () {
            $(".editForm").hide();
            $(".detailDisplay").show();
            $(".submitBtn").css('visibility', 'hidden');
        });
    </script>
}
