﻿@model IEnumerable<Data.Location>

@{
}

@*<h2>Training Location List</h2>*@

<section class="py-5">
    <div class="container">
        <h1>Training Location List</h1>
        <p class="lead">Please review the available one day classes.  To make your selection, first sign in or register.  Once you are registered and have loaded your required document, go to the reservations tab and reserve your seat.  If your class is not available, either select a different date or contact me.  I will be more than happy to assist you in reserving a seat in a future class.</p>
        
@if (User.IsInRole("Admin"))
{ 
        <p>
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i> Create</a>
        </p>
        }
        <table class="table-responsive-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </th>
                    @*<th>
        @Html.DisplayNameFor(model => model.ReservationLimit)
    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.TeacherID)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.DocRequirements)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                                                @*<td>
        @Html.DisplayFor(modelItem => item.ReservationLimit)
    </td>*@
                        @*<td>
                                    @foreach (UserDetail user in ViewBag.userDeets)
        {
        if (item.TeacherID == user.UserID)
        {
        <p>@user.FirstName @user.LastName</p>
        }
        }

                            @Html.DisplayFor(modelItem => item.TeacherID)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.DocRequirements)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
@if (User.IsInRole("Admin"))
{
                        <td class="text-right">
                            <a href="@Url.Action("Edit", new { id = item.LocationID })" class="btn btn-warning"><i class="fa fa-info-circle"></i> &nbsp;&nbsp;Details/Edit</a>
                            <a href="@Url.Action("Delete", new { @id = item.LocationID })" onclick="return confirm('Are you sure you want to delete item @item.LocationID');" class="btn btn-danger"><i class='fa fa-times'></i> &nbsp;&nbsp;Delete</a>
                        </td>
}
@if (User.IsInRole("Teacher"))
{
    <td class="text-right">
        <a href="@Url.Action("Edit", new { id = item.LocationID })" class="btn btn-warning"><i class="fa fa-info-circle"></i> &nbsp;&nbsp;Details/Edit</a>
    </td>
}

                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>

