﻿@model Data.UserDetail

@{
}

@section styles {<style>.control-label {font-weight:bold;color:black;}input.detailDisplay {background-color:white !important;box-shadow:none;border:0;color:black;}.editForm input,.editForm select {color:black;background-color:rgba(255, 216, 0, .3);}</style>}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
	    <h2><span class="editForm">Edit </span>@ViewBag.Title<span class="detailDisplay"> Details</span></h2>
        <hr />

        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">

            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
				<input type="text" name="roFirstName" value="@Model.FirstName" class="detailDisplay form-control" readonly />
                <div class="editForm">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
        <div class="form-group">

            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
				<input type="text" name="roLastName" value="@Model.LastName" class="detailDisplay form-control" readonly />
                <div class="editForm">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="form-group editForm">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="submitBtn btn btn-info" />
			</div>
		</div>
	</div>
}

<div>
    <a href="@Url.Action("Index")" class = "btn btn-info" >Back to List</a> 
	<span id="showEdit" class="detailDisplay btn btn-warning">Edit Record</span> 
    <span id="showDetails" class="editForm btn btn-success">View Details</span>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
	<script>
        $(".editForm").hide();
        $(".submitBtn").css('visibility', 'hidden');
        $("#showEdit").click(function () {
            $(".editForm").show();
            $(".detailDisplay").hide();
            $(".submitBtn").css('visibility', 'visible');
        });
        $("#showDetails").click(function () {
            $(".editForm").hide();
            $(".detailDisplay").show();
            $(".submitBtn").css('visibility', 'hidden');
        });
    </script>
}
