﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Preferred Futures</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/styles/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- Custom styles for this template -->
    <link href="~/Content/css/full-width-pics.css" rel="stylesheet">
    @*<link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/Styles/Site.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="color:darkgrey" display="block">
        <div class="container">

            @*<a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="img-fluid d-block mx-auto" src="~/Content/images/pfSwirl.jpg" style="max-height: 50px; max-width: 50px"alt="Logo"></a>*@
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Preferred Futures</a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">

                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Locations")">Training Locations</a>
                        </li>

                                                                        @if (User.IsInRole("Student"))
                                                                        {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "StudentDocs")">Student Docs</a>
                                </li>
                                                                <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Reservations")">Reservations</a>
            </li>

                                                                        }
                        @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","StudentDocs")">Student Docs</a>
                        </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Reservations")">Reservations</a>
    </li>*@

                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "StudentDocs")">Student Docs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Reservations")">Reservations</a>
                                    </li>
                                }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('../../Content/images/hands01.jpg'); ">
        <div style="height: 200px;"></div>
            </header>
    <div class="container body-content">
        <div id="MessageDisplay" class="md-col-10 md-col-offset-1">
            @if (ViewBag.MessageDisplay != null)
            {
                <div id="MessageBanner" class="alert alert-warning">
                    @ViewBag.MessageDisplay
                </div>
            }
        </div>

        @RenderBody()

        <hr />

            <!-- Footer -->
            <footer class="py-5 bg-dark" style="max-height: 100px; max-width: 992px">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; Preferred Futures, Inc. @DateTime.Now.Year    |    Template Design by
                    <a href="https://startbootstrap.com/" target="blank">Start Bootstrap</a></div></p>
                <!-- /.container -->
            </footer>
        </div>

        @*<script src="Conetnt/scripts/jquery/jquery.min.js"></script>*@
        @*<script src="Content/styles/js/bootstrap.bundle.min.js"></script>*@

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

        @RenderSection("scripts", required: false)
</body>
</html>
