﻿@model Data.Reservation

@{
    ViewBag.Title = "Delete";
}

<section class="py-5">
    <div class="container">
        <h1>Delete</h1>

        @*<h2>Delete</h2>*@

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Reservation</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReservationDate)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.TeacherID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TeacherID)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.Location.LocationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.LocationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StudentDoc.DocName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentDoc.DocName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>
