﻿@model IEnumerable<TemplateTest.Product>

@{
}

<h2>@ViewBag.Title List</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i> Create</a>
</p>
<table class="table">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
		<td class="text-right">
            <a href="@Url.Action("Edit", new { id = item.ProductId })" class="btn btn-warning"><i class="fa fa-info-circle"></i> &nbsp;&nbsp;Details/Edit</a>
            <a href="@Url.Action("Delete", new { @id=item.ProductId })" onclick="return confirm('Are you sure you want to delete item @item.ProductId');" class="btn btn-danger"><i class='fa fa-times'></i> &nbsp;&nbsp;Delete</a>
        </td>
    </tr>
}
</tbody>
</table>
