﻿@model IEnumerable<Data.Reservation>

@{
}

<section class="py-5">
    <div class="container">
        <h1>@ViewBag.Title List</h1>

        @*<h2>@ViewBag.Title List</h2>*@

        <p>
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i> Create</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReservationDate)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.TeacherID)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Location.LocationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentDoc.DocName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReservationDate)
                        </td>
                                                @*<td>
                                    @foreach (UserDetail user in ViewBag.userDeets)
        {
        if (item.TeacherID == user.UserID)
        {
        <p>@user.FirstName @user.LastName</p>
        }
        }

                                @Html.DisplayFor(modelItem => item.TeacherID)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.LocationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentDoc.DocName)
                        </td>
                        <td class="text-right">
                            <a href="@Url.Action("Edit", new { id = item.ReservationID })" class="btn btn-warning"><i class="fa fa-info-circle"></i> &nbsp;&nbsp;Details/Edit</a>
                            <a href="@Url.Action("Delete", new { @id=item.ReservationID })" onclick="return confirm('Are you sure you want to delete item @item.ReservationID');" class="btn btn-danger"><i class='fa fa-times'></i> &nbsp;&nbsp;Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
