﻿@model Data.StudentDoc
@using Data

@{
}

@*<h2>Create @ViewBag.Title</h2>*@
<section class="py-5">
    <div class="container">
        <h1>Create @ViewBag.Title</h1>


        @using (Html.BeginForm("Create", "StudentDocs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.DocName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DocName, "", new { @class = "text-danger" })*@
                        <input type="file" name="edlFileUpload" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })*@

                        @*var userId = User.Identity.GetUserId();*@
                        @User.Identity.Name

                        @*studentDocs = uow.StudentDocRepository.Get().Where(s => s.StudentID == userId).ToList();*@
                        @*@foreach (UserDetail user in ViewBag.userDeets)
                        {
                            if (item.StudentID == user.UserID)
                            {
                                <p>@user.FirstName @user.LastName</p>
                            }
                        }*@

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.StudentPhoto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentPhoto, "", new { @class = "text-danger" })*@
                        <input type="file" name="userImageUpload" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SpecialNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SpecialNotes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpecialNotes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateAdded, "", new { @class = "text-danger" })*@
                        @*<input type="date" />------------ this adds a calendar to pick the date *@
                        @DateTime.Now

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                        <div class="col-md-1">
                            <a href="@Url.Action("Index")" class="btn btn-info">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</section>
