﻿@model IEnumerable<Data.StudentDoc>
    @using Data

@{
}

<section class="py-5">
    <div class="container">
        <h1>@ViewBag.Title List</h1>

        @*<h2>@ViewBag.Title List</h2>*@

        <p>
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus"></i> Create</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DocName)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.StudentID)
                        </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentPhoto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpecialNotes)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.DocName)*@
                            <a href="@Url.Content("~/Content/images/" + @item.DocName)" target="_blank" alt="@item.DocName">Click To View Document</a>

                        </td>
                     <td>

        @foreach (UserDetail user in ViewBag.userDeets)
        {
        if (item.StudentID == user.UserID)
        {
        <p>@user.FirstName @user.LastName</p>
        }
        }
                                    @*@Html.DisplayFor(modelItem => item.StudentID)
                                    @User.Identity.Name*@
                                </td>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.StudentPhoto)*@
                            <img src="~/Content/images/@item.StudentPhoto" alt="@item.StudentPhoto" title="Photo" style="max-height: 100px; max-width: 100px" />

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpecialNotes)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>*@
                        <td>
                            @*@Html.DisplayFor(modelItem => item.DateAdded)*@
                            @item.DateAdded.ToShortDateString()

                        </td>
                        <td class="text-right">
                            <a href="@Url.Action("Edit", new { id = item.StudentDocID })" class="btn btn-warning"><i class="fa fa-info-circle"></i> &nbsp;&nbsp;Details/Edit</a>
                            <a href="@Url.Action("Delete", new { @id=item.StudentDocID })" onclick="return confirm('Are you sure you want to delete item @item.StudentDocID');" class="btn btn-danger"><i class='fa fa-times'></i> &nbsp;&nbsp;Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
