﻿@{
    ViewBag.Title = "About";
}
        @*<h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>*@

        <section class="py-5">
            <div class="container">
                <h1>@ViewBag.Title Preferred Futures, Inc.</h1>
                <h3>Our Mission</h3>

                @*<div class="jumbotron">*@
                @*<h1>ASP.NET</h1>*@
                <p class="lead">Our mission is to provide professional services in an ethical and effective manner.  We strive to assist students, clients and health care staff in making appropriate decisions in the provision of care.  It is our firm belief that the decisions made today create the future.  It is our mission to assist in making decisions that will lead to preferred futures for our clients.</p>
                <p>@*<a href="@Url.Action("Index","Locations")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

                    <h3>Certified Nursing Assistant (CNA) Class</h3>
            <p>Certified Nursing Assistants are responsible for direct, hands-on care to residents of long-term care facilities. The class is designed to teach skills in resident care which will qualify students to perform uncomplicated nursing procedures and to assist licensed practical nurses or registered professional nurses in direct resident care. By combining 75 hours of classroom instruction with 100 hours of “hands on” direct care training, students will have the skills and knowledge to enter one of the fastest growing professions in the healthcare industry.</p>
                <p>* Cost: $500.00/student and two sets of (ceil blue scrubs) Student manual, certification fee, gait belt, etc. are included in the cost of the class.</p>
<p><strong>Requirements:</strong>  To be eligible for the CNA Training Program, students must be/have:</p>
                <ul>
                <li>At least 18 years of age and employable</li>
                    <li>Negative 2 step TB test or chest X-ray</li>
                    <li>Pass background check (not listed on EDL)</li>
                </ul>


                <h3>Certified Medication Technician (CMT) Class</h3>
                <p>Certified Medication Technicians have the same responsibilities as the Certified Nursing Assistant, however, they also administer prescribed medications to patients and maintain related medical records under the direct supervision of a Nurse.  This class includes at a minimum 68 hours of instruction/clinicals.  (An Insulin Class will be offered to CMT students that have successfully completed their CMT course and qualify. (date to be determined).  Cost: $75.00 for those students that successfully completed the CMT class through Preferred Futures.)</p>
<p>* Cost: $500.00/student. Student manual, certification fee, drug manual are included in the cost of the class.</p>
                <p>* Cost for TABE $25.00 money order…endorsed to Warrensburg Area Career Center</p>
                <p><strong>Requirements:</strong>  To be eligible for the CMT Training Program, students must be/have:</p>
                <ul>
                    <li>At least 18 years of age and employable</li>
                    <li>Negative 2 step TB test or chest X-ray</li>
                    <li>Pass background check (not listed on EDL)</li>
                    <li>Proof of High school diploma or GED</li>
                    <li>Successful scores on TABE exam</li>
                    <li>Letter of recommendation from Director of Nursing or Administrator</li>
                </ul>

                <h3>Restorative  Nursing Assistant (RNA) Class</h3>
                <p>Restorative Nursing Assistants perform restorative and therapy tasks as directed by Doctors to residents of long-term care facilities. his class includes at a minimum 60 hours of student participation. Thirty hours classroom and thirty hours clinical. The thirty hours of classroom will be instructed by Dr. Sapp and offered free of charge to those students that qualify. According to state regulations the clinical component must be completed by Physical therapy, Occupational therapy, and Speech therapy. All students wanting to attend this class must have approval and written confirmation from their therapy group in order to proceed. Please contact Dr. Sapp with any questions you might have regarding the clinical component of this class.</p>
                <p>* Cost: Purchase RNA manual through Assessment Resource Center, University of Missouri,  Student, Item 50702, $45.52. and $20.00 certification fee.</p>
                <p><strong>Requirements:</strong>  To be eligible for the RNA Training Program, students must be/have:</p>
                <ul>
                    <li>At least 18 years of age and employable</li>
                    <li>Negative 2 step TB test or chest X-ray</li>
                    <li>Pass background check (not listed on EDL)</li>
                    <li>Proof of High school diploma or GED</li>
                    <li>Six months as a certified nursing assistant, active, and in good standing</li>
                    <li>Written confirmation from the therapy group conducting clinicals</li>
                    <li>Letter of recommendation from Director of Nursing or Administrator</li>
                </ul>


</div>
</section>
