﻿@model Data.StudentDoc
@using Data


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student Document Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DocName)*@
            <img src="~/Content/images/" + model.DocName alt="model.DocName" title="EDL" />
        </dd>

        <dt>
        @Html.HiddenFor(model => model.StudentID)
    </dt>

        <dd>
            @*@foreach (UserDetail user in ViewBag.userDeets)
            {
                if (item.StudentID == user.UserID)
                {
                    <p>@user.FirstName @user.LastName</p>
                }
            }*@

            @Html.DisplayFor(model => model.StudentID)
            @*@User.Identity.Name*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPhoto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.StudentPhoto)*@
            @*<img src="~/Content/images/" alt="" title="Photo" />*@
            <img src="~/Content/images/" + model.StudentPhoto)" alt=Model.StudentPhoto title="Photo" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
            @*@Html.YesNo(ITempDataProvider.IsTrue)*@
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentDocID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
